* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(120deg, #4fd1c5, #63b3ed);
    padding: 40px;
}

.wrapper {
    display: flex;
    background: #fff;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

/* LEFT */
.left {
    width: 55%;
    padding: 40px;
}

.steps {
    display: flex;
    gap: 15px;
    font-size: 14px;
    margin-bottom: 20px;
}

.steps span {
    color: #777;
}

.steps .active {
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
    padding-bottom: 5px;
}

.sub-text {
    color: #666;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.upload-box {
    margin-top: 10px;
}

.upload-btn {
    width: 100%;
    background: #f1f5f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 8px;
    text-align: left;
    cursor: pointer;
}

.upload-btn:hover {
    background: #e2e8f0;
}

.info {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
}

.privacy {
    margin-top: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cancel {
    color: #555;
    text-decoration: none;
}

.primary {
    background: #2563eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* RIGHT */
.right {
    width: 45%;
    background: #f8fafc;
    padding: 40px;
    text-align: center;
}

.right img {
    width: 200px;
    margin-bottom: 20px;
}

.right ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.right li {
    margin-bottom: 10px;
    color: #444;
}
.autocomplete {
    position: relative;
}

.suggestions-box {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.suggestions-box div {
    padding: 8px;
    cursor: pointer;
}

.suggestions-box div:hover {
    background: #f1f5f9;
}
.resume-summary {
    background: #f8fafc;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.resume-summary h4 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.resume-summary p {
    color: #555;
}
.steps a {
    text-decoration: none;
    color: #777;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.steps a:hover {
    color: #2563eb;
}

.active-step {
    color: #2563eb !important;
    border-bottom: 2px solid #2563eb;
    padding-bottom: 5px;
    font-weight: bold;
}
.file-name {
    margin-top: 8px;
    font-size: 13px;
    color: #2563eb;
}
.project-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}
.project-subtitle {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    color: #e0f2fe;
}
